@import "../components/util.scss";

//Link Buttons
a.link-button {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: color(font);
  padding: 1em 4em;
  font-size: 24px;
  font-weight: bold;
  background: color(primary-light);
  border-radius: 0.2em;
  margin-bottom: 1em;
  z-index: 1;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a.button {
  color: color(font);
  text-decoration: none;
  padding: 1em;
  background: color(primary-light);
}

a.link-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: color(primary-light);
  z-index: -1;
  border-radius: 0.2em;
  transition: 150ms ease-in;
  transform: scaleX(0);
  transform-origin: left;
}

a.link-button:hover::after {
  transform: scaleX(1);
  transform-origin: right;
  transition: 150ms ease-in;
  border-radius: 0.2em;
  color: white;
  background: color(select);
}

//Action Buttons
.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
button#add {
  padding: 1em 2em;
  font-size: 16px;
  font-weight: bold;
  color: color(font);
  background: color(primary-light);
  margin: 0em 0.5em;
}
button#remove {
  padding: 1em 2em;
  font-size: 16px;
  font-weight: bold;
  color: color(font);
  background: red;
  margin: 0em 0.5em;
}
